$white: #ffffff;
$black: #000000;
$primary1: #f9ece6;
$primary2: #f89cab;
$secondary: #e2e2e2;
$secondary2: #7fd7eb;
$secondary3: #f9f8f7;

$btnColor: #db4f66;
$btnColr2: #149ebd;
$base-font-size: 16px;

$x-small: 600px;
$small-screen: 700px;
$x-medium: 900px;
$medium-screen: 1000px;
$large-screen: 1160px;
