*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #212529;
    background-color: white;
    letter-spacing: 1px;
    font-size: 16px;
  }


  .container {
    margin: 0 5rem 0 5rem;
  }


  .header__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
    background-color: #f9ece6;
   
}

.header__content nav {
    width: 70%;
   
  }

  .header__content ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__content ul li a {
    text-decoration: none;
    color: black;

    
  }

  .header__content ul li {
    list-style: none;
  }

  .header__login  {
  display: flex;
  column-gap: 1rem;
  justify-content: space-between;
  align-items: center;
  }

  .header__login  a{
    color: black;
    text-decoration: none;
  }

  .header__login i {
    margin-right: 5px;
}

.welcome{
height: 40rem;
 background-color: #f89cab;
 padding: 5rem;
 column-gap: 5rem;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.welcome__text h1{
  font-size: 3rem;
  font-weight: 700;
  color: white;
  margin-bottom: 10px;
}

.welcome__text p{

  color: white;
  margin-bottom: 10px;
}

.welcome__text button{
  background-color: #db4566;
  border-radius:0%;
  cursor: pointer;
  color: white; 
  border: 1px solid #db4566;
  padding: 10px 40px;
  border-radius: 5px;
  margin-top: 25px;
  text-transform: uppercase;
  transition: all .3s;
}

.welcome__text button:hover{
    text-decoration: none;
    background-color: transparent;
    color: #db4566;
}

.products{
  background-color: white;
 height: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.products h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2rem;
}
.products__grid{
  display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 gap: 2rem;
}

.products__item{
  background-color: #E2E2E2;
  display: flex;
  flex-direction: column;
  padding: 1rem;
 width: 100%;
 max-width: 100%;
 min-width: 250px; 
}

.products__item a {
  text-decoration: none;
  color: black;
}

.products__item .products__item__new{
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}



.products__item__img{
  display: flex;
  align-items: center;
  justify-content: center;
}

.products__item .products__item__img img{
  max-width: 100%;
  max-height: 145px;
  
}

.products__item__box {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.products__item__box h6{
  font-size: 1rem;
}

.products__item__box h6 span{
  color: #db4f66;
}


.products__btn button{
  background-color: #db4566;
  border-radius:0%;
  cursor: pointer;
  color: white; 
  border: 1px solid #db4566;
  padding: 10px 40px;
  border-radius: 5px;
  margin-top: 25px;
  text-transform: uppercase;
  transition: all .3s;
}

.products__btn button:hover{
  text-decoration: none;
  background-color: transparent;
  color: #db4566;
}


.savings{
  height: 30rem;
  background-color: #7fd7eb;
   padding: 5rem;
   column-gap: 5rem;
   display: flex;
   
 /* align-items: center; */
  }

  .savings__img {
    /* width: 50%; */
    
  }
.savings__img img{
  /* width: 100%; */
  /* max-height: 145px; */
}



footer{
  height: 50rem
}